// COLORS

$mainFontColor: #252525;
$secondaryFontColor: #959595;

$activeColor: #43adeb;
$secondaryActiveColor:#77a700;

$starColor: #fecb20;

$bgLightColor: #ffffff;
$bgGreyColor: #f5f6f1;

//  FONTS

$mainFont: 'Arial', sans-serif;




