.search-bar{
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    height: auto;
    margin: 5px;
    padding: 0 15px;
    border: $secondaryFontColor 1px solid;
    border-radius: 5px;
    background-color: $bgGreyColor;
}
.search-bar__select-box{
    padding: 10px 0;
}
.search-bar__select-box__title{
    font-family: $mainFont;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1.5px;
    text-transform: capitalize;
}
.search-bar__select-box__list{
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}
.search-bar__select-box__cover__option{
    display: inline-block;
    margin: 7px;
    color: $activeColor;
}
.search-bar__select-box__cover__option:checked{
    color: $activeColor;
    background-color: $activeColor;
}
.search-bar__select-box__cover__option-title{
    display: inline-block;
    margin: 0;
}